h1 {
      font-size: 40px;
 }

h2 {
     font-size: 20px;
}
body {
  background-color: aqua;
}

#my_list {
  background-color: mediumaquamarine;
}

#explain {
  border-width: 3px;
  border-style: solid;
  border color: aqua;
  padding: 30px;
  margin: 20px;
  height: 300px;
  width: 300px;
 }      
